<section>
  <form class="" name="formPlayer">
      <label for="">Codigo</label>
      <input type="text" name="" value="" ng-model="vm.player.code">

      <label for="">Nombre</label>
      <input type="text" name="" value="" ng-model="vm.player.name">

      <label for="">Alias</label>
      <input type="text" name="" value="" ng-model="vm.player.nick">

      <label for="">Coins</label>
      <input type="text" name="" value="" ng-model="vm.player.coin">

      <label for="">Foto</label>
      <input type="file" name="" value="" ng-model="vm.player.photo" id="photo">

      <button class="" type="button" ng-click="vm.presave()"  id="btnReg">Registrar</button>
  </form>
</section>

<!-- <section>
  <table>
    <thead>
      <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Alias</th>
          <th>Coins</th>
          <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in vm.players">
        <th>{{player.code}}</th>
        <th>{{player.name}}</th>
        <th>{{player.nick}}</th>
        <th>{{player.coin}}</th>
        <th><img ng-src="{{player.photo}}" width="40px" height="60px" /></th>
      </tr>
    </tbody>
  </table>
</section> -->

<section>
  <h2>Jugadores</h2>
  <div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6 col-md-4"  ng-repeat="player in vm.players">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img ng-src="{{player.photo}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">{{player.name}}</a>
                    </div>
                    <div class="desc">{{player.code}}</div>
                    <div class="desc">{{player.nick}}</div>
                    <div class="desc">{{player.coin}}</div>
                </div>
                <div class="bottom">

                </div>
            </div>

        </div>

	</div>
</div>
</section>
